<h1>Ahorcado Info</h1>
<p>En este ahorcado vas a tener que adivinar la palabra con un máximo de 10 intentos.</p>

<section>
    <div>
        <h2 id = "palabraOculta">__________</h2>
    </div>
    
    <h4>Intentos Restantes:</h4>
    <h4 id = "intentosRestantes"></h4>

    <h4 id="mensaje"></h4>

    <p>Ingresa la Letra:</p>
    <input type="text" id="letra" placeholder="Ingrese la letra"><br>
    <input type="hidden" id="palabra" value="@ViewBag.Palabra"><br>

    <button onclick="enviarLetra()">Arriesgar letra</button>

    <div id="resultado"></div> 
</section>
<script src="site.js"></script>