<h1>Ahorcado Info</h1>
<p>En este ahorcado vas a tener que adivinar la palabra con un máximo de 10 intentos.</p>
<h3>Adivina la palabra:</h3>
<div>
    <h2 id = "palabraOculta">   </h2>
    <h4 id = "intentosRestantes">  Intentos Restantes: 10 </h4>
    <p>Ingresa la Letra:</p>
    
    <input type="hidden" id="palabra" placeholder="@ViewBag.Palabra"><br>
    <input type="text" id="letra" placeholder="ingresaLetra"><br>

    <button onclick="enviarLetra()">Enviar letra</button>

    <div id="resultado"></div> 
</div>
