<h1>Ahorcado Info</h1>
<p>¡En este ahorcado vas a tener que adivinar la palabra con un máximo de 10 intentos!</p>

<section>
    <div class="div1">
        <h2 id = "palabraOculta"></h2>
    </div>
    
    <h4>Intentos Restantes:</h4>
    <h4 class="intent" id = "intentos">10</h4>

    <h4 id="mensaje"></h4>

    <p>Ingresa la Letra:</p>
    <input type="text" id="letra" maxlength="1" placeholder="Ingrese la letra">
    <input type="hidden" id="palabra" value="@ViewBag.Palabra">

    <button onclick="ArriesgarLetra()" id="boton">Arriesgar letra</button>
</section>
<script src="site.js"></script>